@charset "utf-8";
/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 17px;
  line-height: 1.5em;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*//end css reset*/

a,
a:hover,
a:focus {
  color: #333 !important;
  text-decoration: none !important;
}
.navbar {
  margin-bottom: 0 !important;
  position: fixed !important;
  left: 0;
  right: 0;
  z-index: 9999;
  border: none !important;
}
.navbar-default {
  border-radius: 0 !important;
}

.navbar-toggle {
  margin-right: 0 !important;
}

/*change toggle to cross button*/
/*cross action*/
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
}
/*#change toggle to cross button*/

.ziggy_top,
footer {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.ziggy_top {
  padding: 17% 0 22% 0;
}
.topheader__bg,
.header__bg {
  background: #2a1d27;
}
.title {
  color: #2a1d27;
  text-align: center;
  font-size: 20px;
}
.maintitle p {
  margin: 20px 0 10px;
}
.maintitle p:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #ae9350;
  left: 50%;
  margin-left: -20px;
}
.maintitle h2 {
  color: #ae9350;
  font-size: 26px;
  line-height: 25px;
}
.maintitle p span {
  padding-top: 20px;
  font-size: 17px;
  color: #ae9350;
  display: block;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
}
h3.subtitle {
  font-size: 18px;
  padding-bottom: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-intro1 {
  border: 2px solid brown;
}
.header__bg,
.topheader__bg,
.customSkew1,
.customSkew {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(#ae9350, #ae9350);*/
  z-index: -1;
}
.header__bg {
  transform: skewY(-6deg);
  transform-origin: top right;
}
.topheader__bg {
  transform: skewY(6deg);
  transform-origin: top right;
}
.customSkewWrap {
  padding: 10% 0;
  position: relative;
}
.customSkew1,
.customSkew {
  background: #ae9350;
  position: absolute;
}
.customSkew {
  transform: skewY(-8deg);
}
.customSkew1 {
  transform: skewY(8deg);
}
.subsection {
  margin: 6% 0;
}
.subsection img {
  width: 150px;
  margin-bottom: 30px;
  border-radius: 90%;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu li {
  display: inline-block;
}
.menu li a {
  padding: 20px 15px;
  text-decoration: none;
  display: block;
}
.custum_scrollTopBtn {
  font-size: 2.2em !important;
  background: #ae9350;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  position: fixed;
  right: 10px;
  cursor: pointer;
  bottom: 1.7%;
  z-index: 9999;
}
ul,
ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.right_text {
  color: #2a1d27;
  font-size: 22px;
}
.subtitle em {
  font-size: 18px;
}
.right_text p {
  font-size: 18px;
  line-height: 25px;
}
footer p {
  margin: 40px 0 10px;
}
/*footer*/
footer {
  padding: 10% 0 4% 0;
}
footer ul li a,
footer,
.navbar-default .navbar-nav > li > a {
  color: #ae9350 !important;
  outline: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2a1d27;
}
footer ul li a:hover,
footer ul li a:focus {
  color: #2a1d27;
}
footer ul {
  list-style: none;
  margin-bottom: 20px;
}
footer ul li {
  display: inline-block;
  margin: 0 4px;
}
footer ul li a {
  font-size: 16px;
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}
.learning img {
  height: 80px;
  margin: auto;
  display: block;
}
.learning .col-sm-4 {
  text-align: center;
}
.ui.label {
  font-weight: normal;
}
.lightShadowBg a {
  display: block;
  padding: 12px;
  min-height: 264px;
  margin-bottom: 17px;
  box-shadow: 2px 1px #f1f1f1;
}
.learning {
  margin-top: 8% !important;
}
@media (max-width: 850px) {
  .ziggy_top {
    padding: 150px 0px 200px 0px;
  }
  footer {
    padding: 80px 0 40px 0;
  }
  .customSkewWrap {
    padding: 60px 0 100px;
  }
}
@media (max-width: 991px) {
  .subsection .col-xs-6 img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  .learning .col-sm-4 {
    margin-bottom: 50px;
  }
  .lightShadowBg {
    margin-bottom: 22px;
  }
  .title {
    margin-top: 20px;
  }
}
@media (max-width: 507px) {
  .maintitle h2 {
    font-size: 22px;
  }
  .col-sm-2 {
    margin: 13px 0 20px 0;
    font-size: 16px;
  }
  .subsection img {
    margin-bottom: 0;
  }
  .subsection h4 {
    margin-top: 8px;
    font-size: 1.28571429rem;
  }
  .subsection h2:first-child {
    margin-top: 2px !important;
  }
}
@media (max-width: 400px) {
  .subsection .col-xs-6 {
    padding: 0;
  }
  .subsection .col-xs-6 img {
    width: 100px;
    height: 100px;
  }
  h2.subtitle {
    font-size: 22px;
  }
  .learning .col-sm-4 {
    padding: 0;
  }
}
.lists {
  margin-top: 20px !important;
}
.lists li {
  box-shadow: 0 0 8px 0 #ddd;
  padding: 12px;
  background: #61dafb;
  margin: 8px 0;
  cursor: pointer;
}
.lists li:hover {
  background: cadetblue;
  color: #fff;
}
.flimsApp {
  width: 50%;
  margin: 40px auto;
}
.howtorun {
  list-style: number;
  padding-left: 20px;
}
.maintitle {
  color: #61dafb;
}
@media (min-width: 768px) {
  .col-sm-2 {
    width: 19.666667% !important;
  }
  .col-sm-3 {
    padding: 20px !important;
  }
}
.ui.accordion .title {
  text-align: left;
}
.mini-accordion {
  font-size: 17px !important;
  background: #ae9350 !important;
  color: #fff !important;
}
.maintitle h2.title {
  font-size: 20px;
}
